Host *-wip-psau-wlg1
  ProxyCommand ssh -W %h:%p psau-wippy-wlg1-1 -p 2222
  ForwardAgent yes
 
Host *-wip-uk-wlg1
  ProxyCommand ssh -W %h:%p uk-wippy-wlg1-2 -p 2222
  ForwardAgent yes

Host *-wip-uk-syd53
  ProxyCommand ssh -W %h:%p uk-wippy-syd5-3 -p 2222
  ForwardAgent yes

Host *-wip-merx-syd61
  ProxyCommand ssh -W %h:%p merx-wippy-syd6-1 -p 2222
  ForwardAgent yes

Host *-wip-psnz-akl1
  ProxyCommand ssh -W %h:%p psnz-wippy-akl1-1 -p 2222
  ForwardAgent yes

Host *-test-wip-flux-syd51
  ProxyCommand ssh -W %h:%p flux-test-wippy-syd5-1 -p 2222
  ForwardAgent yes
 
Host gateway-wlg2.fluxfederation.com
  ForwardAgent yes
  ProxyCommand none
  Port 2222

Host *-wlg2-*
  ForwardAgent yes
  ProxyCommand ssh -W %h:%p gateway-wlg2.fluxfederation.com
 
Host gateway-wlg.powershop.com
  ForwardAgent yes
  ProxyCommand none

Host *-wlg*
  ForwardAgent yes
  ProxyCommand ssh -W %h:%p gateway-wlg.powershop.com
 
Host gateway-akl.powershop.com
  ForwardAgent yes
  ProxyCommand none
 
Host *-akl*
  ForwardAgent yes
  ProxyCommand ssh -W %h:%p gateway-akl.powershop.com
 
Host gateway-syd2.fluxfederation.com
  ForwardAgent yes
  Port 2222
  ProxyCommand none
 
Host *-syd2*
  ForwardAgent yes
  ProxyCommand ssh -W %h:%p gateway-syd2.fluxfederation.com
 
Host gateway-syd3.fluxfederation.com
  ForwardAgent yes
  ProxyCommand none
  Port 2222
 
Host *-syd3*
  ForwardAgent yes
  ProxyCommand ssh -W %h:%p gateway-syd3.fluxfederation.com

Host gateway-syd4.fluxfederation.com
  ForwardAgent yes
  ProxyCommand none
  Port 2222
 
Host *-syd4*
  ForwardAgent yes
  ProxyCommand ssh -W %h:%p gateway-syd4.fluxfederation.com
 
Host gateway-syd5.fluxfederation.com
  ForwardAgent yes
  ProxyCommand none
  Port 2222
 
Host *-syd5*
  ForwardAgent yes
  ProxyCommand ssh -W %h:%p gateway-syd5.fluxfederation.com

Host gateway-syd6.fluxfederation.com
  ForwardAgent yes
  ProxyCommand none
  Port 2222

Host *-syd6*
  ForwardAgent yes
  ProxyCommand ssh -W %h:%p gateway-syd6.fluxfederation.com
  
Host gateway-ire1.fluxfederation.com
  ForwardAgent yes
  ProxyCommand none
  Port 2222

Host *-ire1*
  ForwardAgent yes  
  ProxyCommand ssh -W %h:%p gateway-ire1.fluxfederation.com

Host gateway-aws.powershop.com
  ForwardAgent yes
  ProxyCommand none
  Port 2222
 
Host *-aws* *-syd1*
  ForwardAgent yes
  ProxyCommand ssh -W %h:%p gateway-aws.powershop.com
 
Host gateway-fra2.fluxfederation.com
  ForwardAgent yes
  Port 2222
  ProxyCommand none
  ControlPath ~/.ssh/cm-%r@%h:%p
  ControlMaster auto
  ControlPersist 10m

Host *-fra2*
  ForwardAgent yes
  ProxyCommand ssh -W %h:%p gateway-fra2.fluxfederation.com
 
Host gateway-lon1.fluxfederation.com
  ForwardAgent yes
  ProxyCommand none
  Port 2222
  ControlPath ~/.ssh/cm-%r@%h:%p
  ControlMaster auto
  ControlPersist 10m
 
Host *-lon1*
  ForwardAgent yes
  ProxyCommand ssh -W %h:%p gateway-lon1.fluxfederation.com
 

